
<h1>Edit Your Profile</h1>

<form action="/users/put" method="POST">
<input type="hidden" name="_method" value="put">

  <label for="username">Username:</label><br>
  <input id="username" readonly name="username" value=<%=current_user["username"]%>><br><br>
  <label for="password">Password:</label><br>
  <input id="password" type="password" name="password" value=<%=current_user["password"]%>><br><br>
  <label for="image_url">Image URL:</label><br>
  <input id="image_url" name="image_url" value=<%=current_user["image_url"]%>><br><br>

<button class="btn btn-default btn-sm">Submit</button> <a href="/">Cancel</a>
</form>



