<%if session[:user_id]%>
  <a href="logout">Logout</a><br>
  <h4>Your Stats</h4><br>
  <a href="scores/new">Log Activity</a>
<%else%>


  <a href="/users/new">Signup</a>

  <form method="POST" action="/login">
    <label for="username">Username:</label>
    <input id="username" name="username">
    <label for="password">Password:</label>
    <input id="password" name="password">
    <button>Login</button>
  </form>
<%end%>


<h4>Leaderboard</h4>

<%all_scores.each do |person|%>
<%=person["user_id"]%> -
<%=person["sum"]%>
<%end%>


