

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">

  <title>Social gScholar</title>

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>

<body>

  <div class="container">



    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">The Social gScholar</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <%if session[:user_id]%>
              <%user = @database_connection.sql("SELECT * FROM users WHERE id = #{session[:user_id].to_i}").first%>
              <li><a href="/scores/new">Log Activity</a></li>
              <li><a href="/logout">Logout</a></li>
              <li><a href="/users/edit">Edit Profile</a></li>
              <li><a>Logged in as <%=user["username"]%></a></li>
            <%else%>


              <li><a href="/users/new">Signup</a></li>
          </ul>
              <form class="navbar-form navbar-right" role="form" method="POST" action="/login">
                <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" class="form-control" name="username">
                <label for="password">Password:</label>
                <input id="password" class="form-control" name="password">

                <button class="btn btn-default btn-sm">Login</button>
                </div>
              </form>

            <%end%>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% if flash[:notice]%>
      <div class="alert alert-warning" role="alert">
        <%= flash[:notice]%>
      </div>
    <%end%>

  <%= yield %>

</div> <!--END content-->


</body>
</html>
