<h1>Register Here</h1>


<form method="POST" action="/users">
  <label for="username">Username:</label><br>
  <input id="username" name="username"><br><br>
  <label for="password">Password:</label><br>
  <input id="password" name="password"><br><br>
  <button>Submit</button> <a href="/">Cancel</a>
</form>