/*body {*/
    /*background-color:#000;*/

/*}*/

* {font-family: Arial;}

nav {background-color: darkblue; height:40px; padding-top: 1px; padding-bottom: 3px; padding-left: 10px;}

nav p {color: white; font:15px}

img { width: 60px;}


.wrapper {
    margin:auto;
    width:980px;
    background-color:#fff;
}

.thumb {
    width:10%;
    /*width:120px;*/
    border:1px solid;
    height:100px;


}

/* ----- =columns ----- */

.one_half { width:460px; }
.one_sixth { width:10%; text-align:center;}
/*.one_sixth { width:120px; }*/
.one_third {	 width:300px; }
.two_third {	 width:620px; }
.one_fourth {	 width:220px; }
.three_fourth { width:700px; }
.full_column {	 width:940px; }

article {
    position:relative;
    margin-left:20px;
    margin-bottom:16px;
    float:left;
}



/* clearfix */
.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }